.main {
    @include container;
}

.board {
    width: 300px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 8px;
    }

    &__opt {}

    &__list {}

    &__card {
        border: 1px solid #D9D9D9;
        border-radius: 8px;
        padding: 16px 12px;
        margin-bottom: 10px;
    }

    &__card-title {
        font-size: 16px;
        line-height: 140%;
        color: #1A1A1A;
        margin: 0px 8px;
        margin-bottom: 8px;
    }

    &__card-content {
        font-size: 13px;
        line-height: 147.4%;
        color: #262626;
        margin: 0px 8px;
    }

    &__add-card {
        padding: 22px;
        display: block;
        width: 100%;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01em;
        text-align: center;
        border: 1px dashed #D9D9D9;
        border-radius: 8px;
    }

    &__textarea {
        overflow-wrap: break-word;
        min-height: 2rem;
        display: block;
        width: 100%;
        resize: vertical;
        padding: 5px;
        border: none;
        border-bottom: 1px solid #CCCCCC;
        font-size: 13px;
        line-height: 147.4%;
    }

    &__save-card {
        padding: 6px 12px;
        margin-top: 10px;
        background-color: #066AFF;
        border-radius: 4px;
        font-size: 13px;
        line-height: 147.4%;
        color: #FFFFFF;
        margin-left: auto;
        display: block;
        cursor: pointer;
    }
}